<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

     <!-- Configuration de PatientStoreImpl -->
    <bean id="patientStore" class="com.example.CentreDeVaccination.Autres.PatientDataBase" 
        init-method="initialize" destroy-method="close" scope="prototype"/>

    <!-- Configuration de PatientService avec injection de dépendance -->
    <bean id="patientService" class="com.example.CentreDeVaccination.Services.PatientService"  
        init-method="initialize" destroy-method="close" scope="singleton">
        <constructor-arg ref="patientStore" />
    </bean>

</beans>